<div class="center hero-unit"> 
  <h1>Welcome to the Sample App</h1>
  <h2>THIS IS MY TITLLLLLLE</h2>

  <%= link_to "Sign up NOW. DO IT. SIGN UP.", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "this is an alt tag"), 'http://rubyonrails.org' %>